@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Choose a client:</p>
    <a href="/Home/Client1" class="btn btn-primary">Client 1</a>
    <a href="/Home/Client2" class="btn btn-primary">Client 2</a>
    <a href="/Home/Client3" class="btn btn-primary">Client 3</a>
</div>